<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/student/submit" method="POST">
	<input type="text" name="Studentid">
	<input type="text" name="Courseid">
	<button type="submit" >Submit</button>
</form>